doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Snake
        link(rel='stylesheet', href='css/style.css')
    body
        .case
            .shine
            .top
                .top-bar
            .screen
                .dot
                .inner-screen
                    #app
            .control
                .pad
                    .pad__item
                    .pad__item-1
                .buttons
                    .button__one A
                    .button__two B
                .starts
                .bars
        script(type='text/javascript', src='js/bundle.js')
